<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Detail of {{sighting.unique_squirrel_id}}</title>
</head>
<body>
	<p>Unique Squirrel ID: {{sighting.unique_Squirrel_id}}</p>
	<p>Latitude: {{sighting.latitude}}</p>
	<p>Longitude: {{sighting.longitude}}</p>
	<p>Shift: {{sighting.shift}}</p>
	<p>Date: {{sighting.date}}</p>
	<p>Age: {{sighting.age}}</p>
	<p>Primary Fur Color: {{sighting.primary_fur_color}}</p>
	<p>Location: {{sighting.location}}</p>
	<p>Specific Location: {{sighting.specific_location}}</p>
	<p>Running: {{sighting.running}}<p/>
	<p>Chasing: {{sighting.chasing}}</p>
	<p>Climbing: {{sighting.climbing}}</p>
	<p>Eating: {{sighting.eating}}</p>
	<p>Foraging: {{sighting.foraging}}</p>
	<p>Other Activities: {{sighting.other_activities}}</p>
	<p>Kuks: {{sighting.kuks}}</p>
	<p>Quaas: {{sighting.quaas}}</p>
	<p>Moans: {{sighting.moans}}</p>
	<p>Tail Flags: {{sighting.tail_flags}}</p>
	<p>Tail Twitches: {{sighting.tail_twitches}}</p>
	<p>Approaches: {{sighting.approaches}}</p>
	<p>Indifferent: {{sighting.indifferent}}</p>
	<p>Runs From: {{sighting.runs_from}}</p>	
</body>
</html>
