<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta name = 'author', content = 'Mudi Li & Ankang Yang'>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <title>squirrel sightings</title>
	</head>
		
	<body>
		<p>
			<h1 class='text-center'><strong> Squirrelhub </strong></h1>
			<br>
			<div>
				<a href="/squirrelhub/", class="btn btn-outline-dark btn-block active", role="button", aria-pressed="true"><strong>Back to Squirrelhub</strong></a>
				<a href="/map/", class="btn btn-outline-dark btn-block active", role="button", aria-pressed="true"><strong>Squirrel Sightings Map</strong></a>
				<a href="/sightings/add/", class="btn btn-outline-dark btn-block active", role="button", aria-pressed="true"><strong>Add a Squirrel Sighting</strong></a>
				<a href="/sightings/stats/", class="btn btn-outline-dark btn-block active", role="button", aria-pressed="true"><strong>Statistical Information about Squirrel Sightings</strong></a>
			</div>
			<br>
			<br>
			<div>
			<table class="table">
				<div>
					<h2 class="btn btn-outline-warning btn-block active"><strong> All Squirrel Sightings</strong></h2>
				</div>
				
				<thead class="btn-secondary">
					<th scope="col">Unique Squirrel ID</th>
					<th scope="col">Date</th>
					<th scope="col">Detail and Update</th>
				</thead>
				
				<tbody>
				{% for sighting in allsightings %}
					<tr>
						<td>{{ sighting.unique_squirrel_id }}</td>
						<td>{{ sighting.date }}</td>
						<td><a href="{{ sighting.unique_squirrel_id }}">click to view detail and update {{sighting.unique_squirrel_id}}</a></td>
					</tr>
				{% endfor %}
				</tbody>
			
			</table>
			</div>
			<br>
			<br>
		</p>

	</body>
</html>
