<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Update Data</title>
</head>
<body>
	<div style="width:210px;margin:0 auto">
		<form method="post">
			<label for="latitude">Latitude: </label>
			<input type="number" step="0.0001" name="latitude" style="width:150px"><br><br>
			<label for="longitude">Longitude: </label>
                        <input type="number" step="0.0001" name="longitude" style="width:150px"><br><br>
			<label for="unique_squirrel_id">Unique Squirrel ID: </label>
                        <input type="text" name="unique_squirrel_id" style="width:150px"><br><br>
			<label for="shift">Shift: </label>&nbsp;&nbsp;
			<input type="radio" name="shift" value="AM"> AM &nbsp;
			<input type="radio" name="shift" value="PM"> PM<br><br>
			<label for="date">Date: </label>
                        <input type="date" name="date" style="width:150px"><br><br>
			<label for="age">Age: </label>
                        <input type="number" name="age" style="width:150px"><br><br>
			<input type="reset">&nbsp;&nbsp;&nbsp;<input type="submit">
			{% if result.statu == 'success' %}
               	 	<p style="text-align:center;color:green">Successfully updated!</p>
			{% elif result.statu == 'error' %}
                        <p style="text-align:center;color:red">ERROR</p>
                	{% endif %}
		</form>
	</div>
</body>
</html>




